// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// // Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

$navy-blue: #0477BF;
$eastern-blue: #0396A6;
$pigment-green: #04BF55;
$orange-yellow: #F2B705;
$light-orange-yellow: #FBDB7B;
$orange-red: #F24405;
$light-blue: #E1F5FE;
$light-green: #F1F8E9;
$light-purple: #E7E8FF;


